{% extends "base.html.twig" %}

{% block body %}
    <h1 class="mt-5 mb-5">Ajout d'un nouveau pays</h1>

    {% for type, messages in app.flashes %}
        <div class="alert alert-{{type}}">
            <ul class="list-group list-group-{{type}}">
                {% for message in messages %}
                    <li class="list-group-item">{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {% include "pays/_form.html.twig" %}
{% endblock %}